<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        h2 {
            text-align: center;
        }

        .container {
            border: 1px solid black;
        }

        .pagination-page-info {
            padding: .6em;
            padding-left: 0;
            width: 40em;
            margin: .5em;
            margin-left: 0;
            font-size: 12px;
        }

        .pagination-page-info b {
            color: black;
            background: #6aa6ed;
            padding-left: 2px;
            padding: .1em .25em;
            font-size: 150%;
        }
    </style>
</head>
<body>
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                {% if current_user.confirmed and current_user.is_authenticated() %}
                    <li><a style="margin-left: 500px"
                           href="{{ url_for('profile') }}">{{ current_user.username }}</a></li>
                    <li><a>/</a></li>
                    <li><a style="margin-left: 5px" href="{{ url_for('logout') }}">Logout</a></li>
                {% elif current_user.is_authenticated() %}
                    <li><a href="{{ url_for('unconfirmed') }}">Confirm</a></li>
                {% elif current_user.is_authenticated() %}

                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <h2>New Post</h2>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="post">Body post:</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="body" rows="3" placeholder="What's up?" required></textarea>
                <!--
                <input type="password" class="form-control" id="pwd" placeholder="Enter story">
                -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="btn btn-default" for="my-file-selector">
                    <input id="my-file-selector" type="file" name="file" style="display:none;"
                           onchange="$('#upload-file-info').html($(this).val());">
                    Select photo
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>

        <div class="form-group dropdown">
            <select name='userId'>
                <option value='{{ current_user.id }}'>{{ current_user.username }}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

    </form>
</div>
</body>
{% endblock %}
</html>