<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>no access</title>
 <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- specific css for login -->
    <link rel="stylesheet" href="/static/css/login.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-validator.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <style>
        .row
        {
            margin-top: 400px;
            color: red;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row" style="border: 1px #cccccc solid; text-align: center;">
        <div class="col-xs-12 " style="  ">

            <h2 >No Access!!!</h2>
            <p>Sorry, an error has occured, You have no access!</p>

        </div>
    </div>
</div>
</body>
</html>